<h1 id="all-comments-title">Comments</h1>

<% @comments.each do |comment| %>
	<div class="all-comments">
		<p>
	    <%= comment.name %> |
			<%= comment.email %> |
	    <%= comment.website %>
		</p>
		<p class="comment-content">
			"<%= comment.comment %>"
	  </p>
		<%= link_to 'Show', comment %>
	  <%= link_to 'Edit', edit_comment_path(comment) %>
		<%= link_to 'Destroy', comment, :confirm => 'Delete - Are you sure?', :method => :delete %>
	</div>
<% end %>

<%= link_to 'New Comment', new_comment_path %>
