<% @posts.each do |post| %>
	<article>
		<header>
		  <hgroup>
				<h2><%= link_to post.title, post %></h2>
		    <h3><%= post.date %> | <%= post.comments.count %> comments</h3>
		  </hgroup>
		</header>
		<section>
	  	<%=raw post.content.truncate(520) %>
		</section>
		<% if current_user %>
		<footer>
	    <%= link_to 'Show', post, :class => 'admin-link' %>
	    <%= link_to 'Edit', edit_post_path(post), :class => 'admin-link' %>
			<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete, :class => 'admin-link' %>
		</footer>
		<% end %> 
	</article>
<% end %>

<% if current_user %>
	<%= link_to 'New Post', new_post_path, :class => 'new-post' %>
<% end %>