<article id="post-page">
	<header>
	  <hgroup>
			<h2 <% if @post.category != "" %>class="<%=@post.category%>-cat"<% end %>><%= @post.title %></h2>
	    <h3><%= @post.date %></h3>
	  </hgroup>
	</header>
	<section class="single-post">
  	<%=raw @post.content %>
	</section>
	<footer>
		<% if current_user %>
			<%= link_to 'Edit', edit_post_path(@post), :class => 'admin-link' %>
			<%= link_to 'Back', posts_path, :class => 'admin-link' %>
		<% end %>
	</footer>
	<section id="comments">
		<section id="new-comment">
			<% form_for Comment.new do |f| %>
			    <%= render "comments/form", :f => f %>
			<% end %>				
		</section>		
		<% if @post.comments.any? %>
			<% @post.comments.each do |f| %>
				<% if f.approved || current_user %>
				<div class="comment">
					<h4><a href="http://<%= f.website %>"><%= f.name %></a></h4> <span><%= f.date %></span>
					<p>
						<%= f.comment %>
					</p>
					<% if current_user %>
						<%= link_to 'Destroy', f, :confirm => 'Are you sure?', :method => :delete, :class => 'admin-link' %>
						<%= form_for(f) do |update| %>
						Approved?
						<%= update.check_box :approved %>
						<%= update.submit "Submit" %>
						<% end %>
					<% end %>
				</div>	
				<% end %>
			<% end %>	
		<% end %>
	</section>
</article>